@font-face {
  font-family: 'kingthings_exeter';
  src: url('./static/Kingthings_Exeter.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

$width: 360px;
$height: 120px;

html, body, #root, .App {
  height: 100%;
}

body {
  margin: 0 auto;
  padding: 0;
  background: black;
  color: white;
  font-size: 20px;
  font-family: kingthings_exeter;
  line-height: 23px;
  letter-spacing: .03em;
}

.App {
  margin: 0 1.5rem;
}

canvas {
  width: $width;
  height: $height;
  margin-bottom: 2rem;
}

@media only screen and (min-width: $width * 2) {
  body {
    width: $width * 2;
  }

  canvas {
    width: $width * 2;
    height: $height * 2;
  }
}

@media only screen and (min-width: $width * 3) {
  canvas {
    width: $width * 3;
    height: $height * 3;
  }
}

@media only screen and (min-width: $width * 4) {
  canvas {
    width: $width * 4;
    height: $height * 4;
  }
}

p {
  margin: 1rem 0;

  strong {
    color: #ccc;
    font-weight: normal;
  }

    label {
      display: block;
      padding-left: 1.5rem;

      .input {
        display: inline-block;
        width: 1.5rem;
        margin-left: -1.5rem;
      }
    }
}

button {
  padding: .4em 1em;
  border: 0;
  border-radius: 10px;
  background: #222;
  color: #ccc;
  font-family: inherit;
  font-size: inherit;
  outline: none;

  &[disabled] {
    background: #111;
    color: #666;
  }
}
