@font-face {
  font-family: 'kingthings_foundation';
  src: url('./static/Kingthings_Foundation.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

$width: 360px;
$height: 120px;

html, body, #root {
  height: 100%;
}

body {
  margin: 0 auto;
  padding: 0;
  background: black;
  color: white;
  font-size: 20px;
  font-family: kingthings_foundation;
}

canvas {
  width: $width;
  height: $height;
  margin-bottom: 2rem;
}

@media only screen and (min-width: $width * 2) {
  body {
    width: $width * 2;
  }

  canvas {
    width: $width * 2;
    height: $height * 2;
  }
}

@media only screen and (min-width: $width * 3) {
  canvas {
    width: $width * 3;
    height: $height * 3;
  }
}

@media only screen and (min-width: $width * 4) {
  canvas {
    width: $width * 4;
    height: $height * 4;
  }
}
