.Story {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 2rem;

  form {
    margin: 0 2rem;

    p {
      margin: 1rem 0;

      label {
        display: block;
      }
    }
  }
}
