.Sword {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

  .text {
    margin: 0 2rem 2rem;

    p {
      margin: .5em 0;

      strong {
        color: #ccc;
        font-weight: normal;
      }
    }
  }
}
